/* Import shadcn styles from shared tailwind-config package */
@import "@workspace/tailwind-config/base.css";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
